<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">{% if page.metacontent %}
		<meta name="description" content="{{ page.metacontent }}">{% endif %}
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/screen.css">
		<link rel="stylesheet" href="/css/solarized.css">
		<link href='https://fonts.googleapis.com/css?family=Ubuntu+Mono%7CUbuntu:300,700' rel='stylesheet' type='text/css'>
	</head>
	<body role="document">
		<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#pkgsrc-collapsed-navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/"><img alt="pkgsrc logo" src="/img/pkgsrc-long-inv.svg" style="max-width:100px; margin-top: -7px;"></a>
				</div>
				<div class="collapse navbar-right navbar-collapse" id="pkgsrc-collapsed-navbar">
					<ul class="nav navbar-nav">
						<li><a href="/">Home</a></li>
						<li><a href="https://github.com/joyent/pkgsrc/wiki/about:changes">Changes</a></li>
						<li><a href="/docs/">Documentation</a></li>
						<li><a href="https://github.com/joyent/pkgsrc/">GitHub</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<img alt="pkgsrc logo" src="/img/pkgsrc.svg" class="img-responsive">
				</div>
				<div class="col-md-9">
					<h2>Portable Package Management</h2>
					<p class="lead">
					pkgsrc is a framework for building over 17,000 open source software packages.  It is the
					native package manager on SmartOS, NetBSD, and Minix, and is portable across 23
					different operating systems.  Use one package manager across all of your systems!
					</p>
					<p class="lead">
					Joyent provide binary packages for SmartOS/illumos, Mac OS X, and Linux.
					</p>
				</div>
			</div>
			<hr>
		</div>
		{{ content }}
		<div class="container">
			<h2 class="text-center">Post-Install Steps</h2>
			<p class="lead text-center">
				Now that you're ready to go, here are some common commands you may want to run.
			</p>
			<div class="row">
				<div class="col-md-6">
					<h3>Use pkgin to install packages</h3>
					<p><code>pkgin</code> is the front-end to the binary packages, and lets you search for, install, upgrade, and remove packages.  It also provides some basic functionality for querying both local and remote packages.  If you have used <code>apt-get</code> or <code>yum</code> you should find it to be very familiar.</p>
				</div>
				<div class="col-md-6">
					<h3>Use pkg_* tools to manage packages</h3>
					<p>The underlying packaging tools are <code>pkg_add</code>, <code>pkg_admin</code>, <code>pkg_create</code>, <code>pkg_delete</code>, and <code>pkg_info</code>.  If <code>pkgin</code> is equivalent to <code>apt-get</code> or <code>yum</code>, then these are the equivalent of <code>dpkg</code> or <code>rpm</code>.  Here are some useful commands to get you started.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
{% highlight console %}
: Refresh the pkgin database with the latest version
$ sudo pkgin -y update

: Search for a package.  Regular expressions are supported.
$ pkgin search "^ffmpeg[0-9]$"
ffmpeg3-3.0.1   Decoding, encoding and streaming software (v3.x)
ffmpeg2-2.8.6   Decoding, encoding and streaming software (v2.x)
ffmpeg1-1.2.12  Decoding, encoding and streaming software (v1.x)

: Install a package without prompting
$ sudo pkgin -y install ffmpeg3

: List all available packages
$ pkgin avail

: Upgrade all out-of-date packages
$ sudo pkgin -y full-upgrade

: Remove a package
$ sudo pkgin -y remove ffmpeg2

: Automatically remove orphaned dependencies
$ sudo pkgin autoremove
{% endhighlight %}
				</div>
				<div class="col-md-6">
{% highlight console %}
: See what packages are installed.
$ pkg_info

: See what package a file belongs to.
$ pkg_info -Fe {{page.prefix}}/bin/node
nodejs-4.4.3

: List the contents of a package.
$ pkg_info -qL nodejs
{{page.prefix}}/bin/node
{{page.prefix}}/bin/npm
[...]

: Perform an audit of all currently installed packages.
$ sudo pkg_admin fetch-pkg-vulnerabilities
$ pkg_admin audit
Package jasper-1.900.1nb11 has a integer-overflow vulnerability, see http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2008-3520
Package samba-3.6.25nb3 has a privilege-escalation vulnerability, see https://www.samba.org/samba/security/CVE-2015-5299.html
Package tiff-4.0.6 has a arbitrary-memory-access vulnerability, see http://www.securityfocus.com/archive/1/537205
[...]

: Create a binary package from some metadata files and package directory.
$ pkg_create -B build-info -c comment -d description -f packlist -I {{page.prefix}} -p files/ -U foo-1.0.tgz
{% endhighlight %}
				</div>
			</div>
		</div>
		<div class="container col-md-8 col-md-offset-2">
			<hr>
			<footer class="footer">
				<p class="text-center small">pkgsrc is a registered trademark of The NetBSD Foundation, Inc.  Copyright &copy; 2016 Joyent, Inc.</p>
			</footer>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
	</body>
</html>
